/* --------------- */
/* CUSTOM PROPERTIES */
/* --------------- */
:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font-sizes */
  --fs-900: clamp(5rem, 9vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.75rem;
  --fs-600: 1.5rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 0.875rem;
  /* --fs-200: 0.875rem; */

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 40em) {
  :root {
    /* font-sizes */
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.75rem;
    --fs-500: 1.5rem;
    --fs-400: 0.875rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
  }
}

@media (min-width: 64em) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
  }
}

/* --------------- */
/* RESET */
/* --------------- */

/* Box sizing */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Set bold headings and paragraphs to normal */
h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  line-height: 1.5;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
  overflow-x: hidden;
  /* scrollbar-gutter: stable; */
}

/* images */
img,
picture {
  max-width: 100%;
}

picture img {
  display: block;
  margin: 0 auto;
}

/* form elements */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------- */
/* UTILITY CLASSES */
/* --------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > * + * {
  /* margin */
  margin-top: var(--flow-space, 1rem);
}

.flow-space-small {
  --flow-space: 0.5rem;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.d-block {
  display: block;
}

.no-decoration {
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  left: 1rem;
  z-index: 9999;
  background: hsl(var(--clr-white) / 0.03);
  backdrop-filter: blur(1rem);
  color: hsl(var(--clr-light));
  padding: 0.5em 1em;
  margin-inline: auto;
  border-radius: 0.5rem;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

.skip-to-content:focus {
  transform: translateY(10%);
}

/* colors */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-light {
  background-color: hsl(var(--clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-light {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  text-transform: uppercase;
  font-size: var(--fs-500);
}

.numbered-title span {
  margin-right: 0.5em;
  color: hsl(var(--clr-white) / 0.25);
  font-weight: 700;
}

/* spacing */
.heading-spacing {
  margin-bottom: 3rem;
}

/* Components */
.large-button {
  padding: 0 1.5em;
  display: inline-grid;
  place-content: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
  position: relative;
  z-index: 1;
}

.large-button::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  background-color: hsl(var(--clr-white) / 0.15);
  opacity: 0;
  transition: opacity 0.5s linear, transform 0.75s ease-in-out;
}

.large-button:hover::before,
.large-button:focus::before {
  transform: scale(1.5);
  opacity: 1;
}

/* Primary header */

.logo {
  margin: clamp(1.25rem, 4vw, 4rem) clamp(1rem, 5vw, 3.5rem);
}

.primary-header {
  justify-content: space-between;
}
.primary-navigation {
  --gap: clamp(1rem, 4vw, 4.5rem);
  --underline-gap: 2rem;
  padding-inline: min(9rem, 6vw) min(12rem, 12vw);
  margin: 0;
  list-style: none;
  background-color: hsl(var(--clr-dark) / 0.95);
}

@supports (backdrop-filter: blur(2.5rem)) {
  .primary-navigation {
    background-color: hsl(var(--clr-white) / 0.03);
    backdrop-filter: blur(2.5rem);
  }
}

.primary-navigation a span {
  font-weight: 700;
  margin-right: 0.5em;
}
.line-indicator a {
  display: block;
  padding: var(--underline-gap, 1rem) 0;
}
.line-indicator > * {
  cursor: pointer;
  border: none;
  border-bottom: 3px solid hsl(var(--clr-white) / 0);
  transition: all 0.25s ease-in-out;
}

.line-indicator > *:hover,
.line-indicator > *:focus {
  border-bottom: 3px solid hsl(var(--clr-white) / 0.5);
  transition: all 0.25s ease-in-out;
}

.line-indicator > .active,
.line-indicator > [aria-selected="true"] {
  color: hsl(var(--clr-white));
  border-color: hsl(var(--clr-white));
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 40em) {
  .primary-navigation {
    --underline-gap: 0.5rem;
    list-style: none;
    inset: 0 0 0 30%;
    position: fixed;
    z-index: 1000;
    padding: min(20rem, 15vh) 0 min(20rem, 15vh) 3rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }

  .primary-navigation.line-indicator > * {
    border: none;
    border-right: 4px solid hsl(var(--clr-white) / 0);
    transition: all 0.25s ease-in-out;
  }
  .line-indicator > .active,
  .line-indicator > [aria-selected="true"] {
    color: hsl(var(--clr-white));
    border-color: hsl(var(--clr-white));
  }
  .line-indicator > *:hover,
  .line-indicator > *:focus {
    border-bottom: 0;
  }

  /* .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    top: 2rem;
    right: 1rem;
    background: none;
    border: none;
    background-image: url(./assets/shared/icon-hamburger.svg);
    background-size: cover;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
  } */

  /* .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(./assets/shared/icon-close.svg);
  } */

  .mobile-nav-toggle {
    border: 0;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2000;
    right: 1rem;
    top: 1.75rem;
    width: 32px;
    height: 32px;
    background-color: transparent;
  }

  .menu-icon,
  .menu-icon::before,
  .menu-icon::after {
    display: block;
    width: 24px;
    height: 3px;
    background-color: hsl(var(--clr-light));
    transition: all 0.5s;
  }
  .menu-icon::before,
  .menu-icon::after {
    content: "";
  }
  .menu-icon::before {
    transform: translateY(-8px);
  }
  .menu-icon::after {
    transform: translateY(5px);
  }

  .mobile-nav-toggle[aria-expanded="true"] .menu-icon {
    background-color: transparent;
    transform: rotate(360deg);
  }
  .mobile-nav-toggle[aria-expanded="true"] .menu-icon::before {
    transform: rotate(45deg);
  }
  .mobile-nav-toggle[aria-expanded="true"] .menu-icon::after {
    transform: translateY(-3px) rotate(-45deg);
  }

  .mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
  }
}

@media (min-width: 40em) and (max-width: 63.999em) {
  .logo {
    margin: 1.25rem clamp(1rem, 5vw, 3.5rem);
  }
  .primary-navigation {
    padding-inline: min(2rem, 20vw);
    --gap: clamp(0.25rem, 1vw, 1.5rem);
  }

  .primary-navigation a > span {
    display: none;
  }

  .primary-navigation * {
    margin-inline: 0.5rem;
  }
}

@media (min-width: 64em) {
  .primary-header {
    align-items: center;
  }
}

@media (min-width: 64em) {
  .primary-header::after {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    background: hsl(var(--clr-white) / 0.25);
    width: 100%;
    order: 1;
    z-index: 10;
  }
  nav {
    order: 2;
    margin-inline: -3rem;
  }
}

.tab-list {
  --gap: 1.5rem;
  --underline-gap: 0.5rem;
  justify-content: center;
}
.tab-list > * {
  background-color: transparent;
}

.tab-list.line-indicator > [aria-selected="true"] {
  /* border: 0; */
  border-bottom: 3px solid hsl(var(--clr-white));
}

.dot-indicator {
  justify-content: center;
  --gap: 1rem;
  margin-block: 2rem;
}

.dot-indicator > * {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.35rem;
  aspect-ratio: 1;
  background-color: hsl(var(--clr-white) / 0.25);
  transition: all 0.25s ease-in-out;
}

.dot-indicator > *:hover,
.dot-indicator > *:focus {
  background-color: hsl(var(--clr-white) / 0.5);
  transition: all 0.25s ease-in-out;
}

.dot-indicator > [aria-selected="true"] {
  background-color: hsl(var(--clr-white));
}

.number-indicator {
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 2rem;
}

.number-indicator > * {
  border-radius: 50%;
  border: 1px solid hsl(var(--clr-white) / 0.25);
  aspect-ratio: 1;
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  cursor: pointer;
  flex-basis: 5rem;
  transition: all 0.25s ease-in-out;
}

.number-indicator > *:hover,
.number-indicator > *:focus {
  border-color: hsl(var(--clr-white));
  transition: all 0.25s ease-in-out;
}

.number-indicator > [aria-selected="true"] {
  color: hsl(var(--clr-dark));
  background-color: hsl(var(--clr-white));
  border-color: hsl(var(--clr-white));
}

.grid-container--crew h2 {
  color: hsl(var(--clr-white) / 0.5);
}

/* ------------------------ */
/* Page specific */
/* ------------------------ */
body {
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}
/* home */

.home {
  background-image: url(./assets/home/background-home-mobile.jpg);
  background-repeat: no-repeat;
}

@media (min-width: 40em) {
  .home {
    background-position: center;
    background-image: url(./assets/home/background-home-tablet.jpg);
  }
}
@media (min-width: 64em) {
  .home {
    background-image: url(./assets/home/background-home-desktop.jpg);
  }
}

/* destination */

.destination {
  background-image: url(./assets/destination/background-destination-mobile.jpg);
  background-repeat: no-repeat;
}
@media (min-width: 40em) {
  .destination {
    background-image: url(./assets/destination/background-destination-tablet.jpg);
  }
}
@media (min-width: 64em) {
  .destination {
    background-image: url(./assets/destination/background-destination-desktop.jpg);
  }
}

/* .destination picture {
  display: none;
} */
/* crew */

.crew {
  background-image: url(./assets/crew/background-crew-mobile.jpg);
  background-repeat: no-repeat;
}
@media (min-width: 40em) {
  .crew {
    background-image: url(./assets/crew/background-crew-tablet.jpg);
  }
}
@media (min-width: 64em) {
  .crew {
    background-image: url(./assets/crew/background-crew-desktop.jpg);
  }
}

/* layout */
.grid-container {
  display: grid;
  text-align: center;
  place-items: center;
  --container-gap: clamp(2rem, 12vw, 15rem);
  padding-bottom: 3.5rem;
}

.grid-container * {
  max-width: 85vw;
}

@media (min-width: 40em) {
  .grid-container * {
    max-width: 75vw;
  }
}

@media (min-width: 64em) {
  .grid-container {
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(
        1rem,
        1fr
      );
    column-gap: var(--container-gap, 2rem);
    text-align: left;
    place-items: end;
  }
  .grid-container--home > *:first-child {
    grid-column: 2;
  }

  .grid-container--home > *:last-child {
    grid-column: 3;
  }
  .grid-container--home {
    padding-bottom: max(6rem, 15vh);
    align-content: end;
  }
}
.numbered-title {
  grid-area: title;
}

/* destination layout */
.grid-container--destination {
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
  --flow-space: 2rem;
}

.grid-container--destination > picture {
  grid-area: image;
}
.grid-container--destination > picture * {
  max-width: 55%;
}

.grid-container--destination > .tab-list {
  grid-area: tabs;
}
.grid-container--destination > .destination-info {
  grid-area: content;
}

.travel-data {
  flex-direction: column;
  border-top: 1px solid hsl(var(--clr-white) / 0.25);
  padding-top: 2rem;
  margin-top: max(2rem, 4vw);
}

.travel-data p {
  font-size: 1.75rem;
}

@media (min-width: 40em) {
  .grid-container--destination {
    padding-inline: 2rem;
  }
  .travel-data {
    flex-direction: row;
  }
  .grid-container--destination > .numbered-title {
    justify-self: start;
    margin-top: 2rem;
  }
  .travel-data {
    justify-content: space-around;
  }
}

@media (min-width: 64em) {
  .grid-container--destination {
    grid-template-areas:
      ". title title ."
      ". image tabs ."
      ". image content .";
    --container-gap: clamp(2rem, 4vw, 6rem);
    justify-items: start;
    align-content: start;
  }
  .grid-container--destination > picture {
    align-self: start;
    justify-self: center;
  }
  .grid-container--destination > picture * {
    max-width: 90%;
  }

  .tab-list {
    --gap: 2rem;
  }
  .travel-data {
    justify-content: start;
    --gap: clamp(1rem, 4vw, 5rem);
  }
}

/* crew layout */
.grid-container--crew {
  grid-template-areas:
    "title"
    "image"
    "dots"
    "content";
  grid-template-rows: min-content min-content min-content min-content;
}

.grid-container--crew > picture {
  grid-area: image;
  align-self: end;
  width: 100%;
}
.grid-container--crew > picture * {
  max-height: 14rem;
}

.grid-container--crew > .dot-indicator {
  grid-area: dots;
}

.grid-container--crew > .crew-info {
  grid-area: content;
}
@media (max-width: 40em) {
  .crew-info {
    margin-top: 0;
  }
  .grid-container--crew picture {
    border-bottom: 1px solid hsl(var(--clr-white) / 0.2);
  }
}

@media (min-width: 40em) {
  .grid-container--crew {
    padding-inline: 2rem;
    padding-bottom: 0;
    grid-template-areas:
      "title"
      "content"
      "dots"
      "image";
    --flow-space: 2rem;
    grid-template-rows: min-content min-content min-content auto;
  }
  .crew-info > p {
    height: 5.25rem;
  }
  .grid-container--crew > .numbered-title {
    align-self: start;
    justify-self: start;
    margin-top: 2rem;
  }
  .grid-container--crew > picture * {
    max-height: 33.25rem;
  }
}

@media (min-width: 64em) {
  .grid-container--crew {
    --flow-space: 0;
    grid-template-columns: minmax(1rem, 0.5fr) minmax(0, 40rem) minmax(0, 20rem) minmax(
        1rem,
        1fr
      );
    grid-template-areas:
      ". title image ."
      ". content image ."
      ". dots image .";
    grid-template-rows: auto auto auto;
    --container-gap: clamp(0.25rem, 2vw, 4rem);
    justify-items: start;
  }

  .grid-container--crew > picture {
    grid-column: span 2;
  }

  .grid-container--crew > picture * {
    max-width: 75%;
  }
  .dot-indicator {
    margin-bottom: 5rem;
  }
}
